<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1> witch room do you want to chat in </h1>

<input type="radio" id="gaming" value="gaming">
<label for="gaming">gaming</label><br><br>
<input type="radio" id="muzic" value="muzic">
<label for="muzic">muzic</label><br><br>
<input id="room-name-submit" type="button" value="Enter">
<script>

    document.getElementById('room-name-submit').onclick = function (e) {
        if (document.getElementById('gaming').checked) {
            var Room_name = document.getElementById('gaming').value;
            window.location.pathname = '/' + Room_name + '/';
        } else if (document.getElementById('muzic').checked) {
            var Room_name = document.getElementById('muzic').value;
            window.location.pathname = '/' + Room_name + '/';
        } else {
            console.log("nop")
            window.location.reload()
        }
    }
</script>
</body>
</html>